<!DOCTYPE html>
<html>
	<head>
		<title>NFC Resource Booking Service</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/contact">Contact</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:4indespensables@googlegroups.com">email</a></li>
        		<li><a href="https://github.com/iotcaptain/nfcmeeting">https://github.com/iotcaptain/nfcmeeting</a></li>
			</ul>
		</footer>
	</body>
</html>
